@model IEnumerable<Test.Models.ComplaintModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Complaint" asp-action="Create">Create New</a>
</p>
<table class="table ">
    <thead>
        <tr class="m-4">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="GetEdit" asp-route-id="@item.Id">Edit</a> |
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a>*@ |
                    @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
            </tr>
        }
    </tbody>

</table>

<div class="col-6 p-1" style="display:flex; margin: 0 auto; text-align:center;">
    <a asp-controller="Home" asp-action="Register" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Register</a>
</div>
<div class="col-6 p-1" style="display:flex; margin: 0 auto; text-align:center;">
    <a asp-controller="Home" asp-action="Login" class="btn btn-dark form-control btn-sm p-2" style="height:40px">Login</a>
</div>

<div class="col-6 p-1" style="display:flex; margin: 0 auto; text-align:center;">
    <a asp-controller="Home" asp-action="Index" class="btn btn-dark form-control btn-sm p-2" style="height:40px">List Of User </a>
</div>
